In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "A" : [1,2,3,4,5],
    "B" : list("vwxyz")
})

In [3]:
df

   A  B
0  1  v
1  2  w
2  3  x
3  4  y
4  5  z

In [4]:
df["A"].sum()

15